<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">
      Symbols
      <button (click)="forceRefreshList()" class="btn btn-warning btn-xs">Force Refresh</button>
    </h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading clearfix">
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table id="symbol-table" class="display table">
                <thead>
                <tr>
                  <th>Symbol</th>
                  <th>Series</th>
                  <th>ISIN</th>
                  <th>View</th>
                </tr>
                </thead>
                <tbody *ngIf="symbolLoaded">
                <tr *ngFor="let symbol of symbolData">
                  <td>{{symbol.symbol}}</td>
                  <td>{{symbol.series}}</td>
                  <td>{{symbol.isin}}</td>
                  <td><a (click)="viewDetail(symbol.symbol)"><button class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></button></a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>
    </div><!-- Row -->
  </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->
