<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">{{ currentSymbol }} -
            <span class="stats-number stats-number-small">({{ latestTimestamp }})</span>
        </h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-xs-2">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">
                                {{ latestSymbolValue.open }}
                                <span class="stats-number stats-number-small">
                                    ({{ secondLatestSymbolValue.open }})
                                </span>
                            </span>
                            <p class="stats-info">Open</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{ latestSymbolValue.high }}
                             <span class="stats-number stats-number-small">
                                    ({{ secondLatestSymbolValue.high }})
                                </span>
                            </span>
                            <p class="stats-info">High</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{ latestSymbolValue.low }}
                             <span class="stats-number stats-number-small">
                                    ({{ secondLatestSymbolValue.low }})
                                </span>
                            </span>
                            <p class="stats-info">Low</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{ latestSymbolValue.close }}
                             <span class="stats-number stats-number-small">
                                    ({{ secondLatestSymbolValue.close }})
                                </span>
                            </span>
                            <p class="stats-info">Close</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{ latestSymbolValue.volume }}
                             <span class="stats-number stats-number-small">
                                    ({{ secondLatestSymbolValue.volume }})
                                </span>
                            </span>
                            <p class="stats-info">Volume</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{ latestSymbolValue.average }}
                             <span class="stats-number stats-number-small">
                                    ({{ secondLatestSymbolValue.average }})
                                </span>
                            </span>
                            <p class="stats-info">Average</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">OHLC Chart</h4>
                    </div>
                    <div class="panel-body">
                        <div attr.data-content="{{ graphData }}" id="chart1">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->

    </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->
